@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  .logo {
    width: 20em;
  }
  a {
    text-decoration: none;
    color: #a98f71;
    padding: 1em 2em;
    margin: 1em;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  a:hover {
    background: #0a244d;
    transition: all 1.2s;
  }
  .ud_button {
    border: #a98f71 solid 1px;
  }
}

a.cloudinary-delete {
  font-size: 30px;
}
